.card-list {
    orphans: 1;
    widows: 1;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    -moz-column-count: 1;
    column-count: 1;
}

.card-list .card {
    margin-bottom: 1rem;
    display: inline-block;
    width: 100%;
}

.card-list .card-text {
    margin: 16px 12px 5px 12px;
}

@media (min-width: 400px) {
    .card-list {
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 576px) {
    .card-list {
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 650px) {
    .card-list {
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 1600px) {
    .card-list {
        -moz-column-count: 5;
        column-count: 5;
    }
}

@media (min-width: 1400px) {
    .card-list {
        -moz-column-count: 6;
        column-count: 6;
    }
}
